<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>renshi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewDeptSrvlet</display-name>
    <servlet-name>NewDeptSrvlet</servlet-name>
    <servlet-class>com.neusoft.servlet.NewDeptSrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDeptSrvlet</servlet-name>
    <url-pattern>/NewDeptSrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeptServlet</display-name>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.UpdateDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <url-pattern>/UpdateDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptInfoServlet</display-name>
    <servlet-name>DeptInfoServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.DeptInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptInfoServlet</servlet-name>
    <url-pattern>/DeptInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDeptServlet</display-name>
    <servlet-name>DelDeptServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.DelDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDeptServlet</servlet-name>
    <url-pattern>/DelDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDeptServlet</display-name>
    <servlet-name>QueryDeptServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.QueryDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDeptServlet</servlet-name>
    <url-pattern>/QueryDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTrySrvlet</display-name>
    <servlet-name>NewTrySrvlet</servlet-name>
    <servlet-class>com.neusoft.servlet.NewTrySrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTrySrvlet</servlet-name>
    <url-pattern>/NewTrySrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPostServlet</display-name>
    <servlet-name>InsertPostServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.InsertPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPostServlet</servlet-name>
    <url-pattern>/InsertPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostListServlet</display-name>
    <servlet-name>PostListServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.PostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostListServlet</servlet-name>
    <url-pattern>/PostListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPostIdServlet</display-name>
    <servlet-name>GetPostIdServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.GetPostIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostIdServlet</servlet-name>
    <url-pattern>/GetPostIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EpInPostServlet</display-name>
    <servlet-name>EpInPostServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EpInPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpInPostServlet</servlet-name>
    <url-pattern>/EpInPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EpInDeptServlet</display-name>
    <servlet-name>EpInDeptServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EpInDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpInDeptServlet</servlet-name>
    <url-pattern>/EpInDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDeptNameServlet</display-name>
    <servlet-name>CheckDeptNameServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.CheckDeptNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDeptNameServlet</servlet-name>
    <url-pattern>/CheckDeptNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPostNameServlet</display-name>
    <servlet-name>CheckPostNameServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.CheckPostNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPostNameServlet</servlet-name>
    <url-pattern>/CheckPostNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpRegistServlet</display-name>
    <servlet-name>EmpRegistServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegistServlet</servlet-name>
    <url-pattern>/EmpRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpQuarryAllServlet</display-name>
    <servlet-name>EmpQuarryAllServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpQuarryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpQuarryAllServlet</servlet-name>
    <url-pattern>/EmpQuarryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDeleteServlet</display-name>
    <servlet-name>EmpDeleteServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDeleteServlet</servlet-name>
    <url-pattern>/EmpDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpUpdateServlet</display-name>
    <servlet-name>EmpUpdateServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdateServlet</servlet-name>
    <url-pattern>/EmpUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpSelectAllServlet</display-name>
    <servlet-name>EmpSelectAllServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpSelectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpSelectAllServlet</servlet-name>
    <url-pattern>/EmpSelectAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpFindAllServlet</display-name>
    <servlet-name>EmpFindAllServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpFindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpFindAllServlet</servlet-name>
    <url-pattern>/EmpFindAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitQuarryAllServlet</display-name>
    <servlet-name>QuitQuarryAllServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.QuitQuarryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitQuarryAllServlet</servlet-name>
    <url-pattern>/QuitQuarryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpFindServlet</display-name>
    <servlet-name>EmpFindServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.EmpFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpFindServlet</servlet-name>
    <url-pattern>/EmpFindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitDeleteAll</display-name>
    <servlet-name>QuitDeleteAll</servlet-name>
    <servlet-class>com.neusoft.servlet.QuitDeleteAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitDeleteAll</servlet-name>
    <url-pattern>/QuitDeleteAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TryFindServlet</display-name>
    <servlet-name>TryFindServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.TryFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TryFindServlet</servlet-name>
    <url-pattern>/TryFindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TryOperationServlet</display-name>
    <servlet-name>TryOperationServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.TryOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TryOperationServlet</servlet-name>
    <url-pattern>/TryOperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmpServlet</display-name>
    <servlet-name>FindEmpServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.FindEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmpServlet</servlet-name>
    <url-pattern>/FindEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDeptServlet</display-name>
    <servlet-name>ChangeDeptServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ChangeDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDeptServlet</servlet-name>
    <url-pattern>/ChangeDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmpPostServlet</display-name>
    <servlet-name>FindEmpPostServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.FindEmpPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmpPostServlet</servlet-name>
    <url-pattern>/FindEmpPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePostServlet</display-name>
    <servlet-name>ChangePostServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ChangePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePostServlet</servlet-name>
    <url-pattern>/ChangePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelNewServlet</display-name>
    <servlet-name>ExcelNewServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ExcelNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelNewServlet</servlet-name>
    <url-pattern>/ExcelNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelDeptServlet</display-name>
    <servlet-name>ExcelDeptServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ExcelDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelDeptServlet</servlet-name>
    <url-pattern>/ExcelDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelPostServlet</display-name>
    <servlet-name>ExcelPostServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ExcelPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelPostServlet</servlet-name>
    <url-pattern>/ExcelPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelQuitServlet</display-name>
    <servlet-name>ExcelQuitServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ExcelQuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelQuitServlet</servlet-name>
    <url-pattern>/ExcelQuitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelCountServlet</display-name>
    <servlet-name>ExcelCountServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.ExcelCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelCountServlet</servlet-name>
    <url-pattern>/ExcelCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPasswordServlet</display-name>
    <servlet-name>FindPasswordServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.FindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPasswordServlet</servlet-name>
    <url-pattern>/FindPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptQuitAllServlet</display-name>
    <servlet-name>DeptQuitAllServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.DeptQuitAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptQuitAllServlet</servlet-name>
    <url-pattern>/DeptQuitAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPasswordServlet</display-name>
    <servlet-name>NewPasswordServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.NewPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPasswordServlet</servlet-name>
    <url-pattern>/NewPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserNameServlet</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.neusoft.servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
</web-app>